<div>
    <div 
        class="ui top attached compact secondary menu">
        <a 
            class="icon item" 
            ng-click="someInfo">
            <i class="icon add"></i>
        </a>
        <a 
            ng-click="requestData()"
            class="icon item">
            <i class="icon refresh"></i>
        </a>
    
        <a 
            class="icon item" 
            ng-click="firstPage()" 
            title="First Page" 
            ng-class="isFirst()?'disabled' : ''">
            <i class="icon fast backward"></i>
        </a>
        <a 
            class="icon item" 
            title="Previous Page" 
            ng-click="prevPage()" 
            ng-class="isFirst()?'disabled' : ''">
            <i class="icon caret left"></i>
        </a>
        <div class="ui dropdown item">
            Page - {{ currentPage + 1 }} / {{ totalPages }}
            <div class="scrollable menu">
                <div 
                    class="item" ng-repeat="i in pageArray" 
                    ng-click="setPage(i)">
                    {{ i }}
                </div>
            </div>
        </div>
        <a 
            class="icon item" 
            title="Next Page" 
            ng-click="nextPage()" 
            ng-class="isLast()?'disabled' : ''">
            <i class="icon caret right"></i>
        </a>
        <a 
            class="icon item" 
            title="Last Page" 
            ng-click="lastPage()" 
            ng-class="isLast()?'disabled' : ''">
            <i class="icon fast forward"></i>
        </a>
    
        <div 
            class="ui pointing dropdown item" 
            ng-init="initDropdown()">
            Items Per Page : {{ pageLength }}
            <i class="icon dropdown"></i>
            <div class="menu">
                <div 
                    class="item" 
                    ng-repeat="i in [5, 10, 25, 50, 100]" 
                    ng-click="setPageLength(i)">
                    {{ i }}
                </div>
            </div>
        </div>
    
        <div class="right item">
            <div class="ui icon input">
                <input 
                    type="text" 
                    placeholder="Search.." 
                    ng-model="searchText" 
                    ng-change="resetPage()">
                <i class="icon search"></i>
            </div>
        </div>
    </div>
    <ng-transclude></ng-transclude>
</div>