<a href="home" class="item">Home</a>
<a href="products" class="item">Products</a>
<a href="categories" class="item">Categories</a>
<a href="companies" class="item">Companies</a>
<a href="invoice/purchase" class="item">Purchase Invoice</a>
<a href="invoice/sales" class="item">Sales Invoice</a>
<a href="contacts" class="item">Contacts</a>
<a href="report" class="item">Report</a>
<div class="right menu">
    <div href="#" class="ui dropdown item">
        Hello {{ user.name }}
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="login" ng-hide="UserService.isLoggedIn()" class="item">Login</a>
            <a ng-click="logout()" ng-show="UserService.isLoggedIn()" class="item">Logout</a>
        </div>
    </div>
</div>