<a href="home" class="item">Home</a>
<div class="ui dropdown item">
    Store
    <i class="dropdown icon"></i>
    <div class="menu">
        <a href="store" class="item">View Store</a>
        <a href="products" class="item">Products</a>
        <a href="categories" class="item">Categories</a>
        <a href="companies" class="item">Companies</a>
    </div>
</div>
<div href="#" class="ui dropdown item">
    Create Invoice
    <i class="dropdown icon"></i>
    <div class="menu">
        <a href="invoice" class="item">Purchase Invoice</a>
        <a href="invoice" class="item">Sales Invoice</a>
    </div>
</div>
<a href="contacts" class="item">Contacts</a>
<a href="#" class="item">Report</a>
<div class="right menu">
    <div href="#" class="ui dropdown item">
        Hello {{ user.name }}
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="login" ng-hide="UserService.isLoggedIn()" class="item">Login</a>
            <a ng-click="logout()" ng-show="UserService.isLoggedIn()" class="item">Logout</a>
        </div>
    </div>
</div>