<div class="ui form segment">
        <h3 class="ui header">{{ formHeading }}</h3>
    <div class="ui field" ng-show="showIdField">
        <label for="productId">Product Id</label>
        <input type="number" ng-model="product.id" ng-readonly="true">
    </div>
    <div class="ui field">
        <label for="productName">Product Name</label>
        <input type="text" name="productName" ng-model="product.name">
    </div>
    <div class="ui field">
        <label for="productDecription">Product Description</label>
        <input type="text" name="productDescription" ng-model="product.description">
    </div>
    <div class="ui field">
        <label for="companyName">Company Name</label>
        <select 
            name="companyName" 
            ng-model="product.companyName" 
            class="ui fluid search selection dropdown">
        </select>
    </div>
    <div class="ui field">
        <label for="category">Category</label>
        <select name="category" ng-model="product.category" class="ui search selection dropdown"></select>
    </div>
    <div class="ui field">
        <label for="unit">Unit</label>
        <select 
            name="unit" 
            ng-model="product.unit" 
            class="ui fluid search selection dropdown">
        </select>
    </div>

    <div class="ui fluid button">Save</div>
</div>