<table class="ui compact center aligned table">
    <thead>
        <tr>
            <th rowspan="2">Product</th>
            <th rowspan="2">Quantity</th>
            <th rowspan="2">Rate</th>
            <th colspan="3">GST</th>
            <th rowspan="2">Amount</th>
        </tr>
        <tr>
            <th>SGST</th>
            <th>CGST</th>
            <th>IGST</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="transaction in transactions">
            <td>
                <i class="delete icon" ng-click="deleteTransaction(transaction)"></i>
                {{ transaction.productName }}
            </td>
            <td>{{ transaction.quantity }} {{ transaction.unit }}</td>
            <td>{{ transaction.rate }}</td>
            <td>{{ transaction.sgstAmount|currency:"&#8377;" }}<span>@{{ transaction.sgstRate }}%</span></td>
            <td>{{ transaction.cgstAmount|currency:"&#8377;" }}<span>@{{ transaction.cgstRate }}%</span></td>
            <td>{{ transaction.igstAmount|currency:"&#8377;" }}<span>@{{ transaction.igstRate }}%</span></td>
            <td>{{ transaction.amountWithTax|currency:"&#8377;" }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="right aligned" colspan="6">Amount Without Tax</td>
            <td>{{ total.amountWithoutTax|currency:"&#8377;" }}</td>
        </tr>
        <tr>
            <td class="right aligned" colspan="6">Total Tax</td>
            <td>{{ total.tax|currency:"&#8377;" }}</td>
        </tr>
        <tr>
            <td class="right aligned" colspan="6">Grand Total</td>
            <td>{{ total.amountWithTax|currency:"&#8377;" }}</td>
        </tr>
    </tfoot>
</table>