<table 
    class="ui celled mini compact center aligned table">
    <thead>
        <th class="four wide">Name</th>
        <th class="six wide">Address</th>
        <th class="two wide">Mobile</th>
        <th class="three wide">GST/ID</th>
        <th class="one wide">Action</th>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contacts|filter:searchText|pagination:pageLength:pageIndex">
            <td>{{ contact.name }}</td>
            <td>{{ contact.address }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.taxId }}</td>
            <td>
                <button ng-click="select(contact)" class="ui mini green fluid icon button">
                    <i class="icon checkmark"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>