<div class="ui segment">
    <div class="ui mini fluid steps">
        <div class="step" ng-class="getClass(1)">
            <i class="icon user"></i>
            <div class="content">
                <div class="title">Select</div>
                <div class="description">Select Contact</div>
            </div>
        </div>
        <div class="step" ng-class="getClass(2)">
            <i class="icon cart"></i>
            <div class="content">
                <div class="title">Invoice</div>
                <div class="description">Create New Invoice</div>
            </div>
        </div>
        <div class="step" ng-class="getClass(3)">
            <i class="icon print"></i>
            <div class="content">
                <div class="title">Preview</div>
                <div class="description">Preview Created Invoice</div>
            </div>
        </div>
    </div>
    <ng-transclude></ng-transclude>
</div>